body {
  font-family: Rubik, Helvetica, sans-serif;
}
label {
  display: block;
}
input {
  font-size: 100%;
  width: 100%;
}
input[type="text"] {
  font-size: 120%;
}
textarea {
  font-size: 120%;
  height: 4rem;
  width: 100%;

  font-family: inherit;
}
main {
  max-width: 400px;
  margin: auto;
}
section {
  margin-top: 16px;
}

button{
  font-size: 100%;
  
}